
{% load humanize %}

{% if htmx_request %}
    <span hx-swap-oob="true" id="gemstoneModalLabel">
        <a href="{% url 'treasure:gemstone_view' gemstone.id %}">View Gemstone</a>
    </span>
{% endif %}


<div id="gemstone-view" class="fade-me-out">


<article  class="smooth">
    <div class="outer-content-container outer-content-small-border">
        <div class="inner-content-container">

            <div class="d-flex justify-content-between align-items-center">
                <span class="modal-title">{{ gemstone.name|capfirst }}</span>
                <img src="{{ gemstone.icon.image.url }}" width="64" height="64" alt="{{ gemstone.name }} icon">
            </div>
        </div>
    </div>
    <div class="outer-content-container outer-content-small-border">
        <div class="inner-content-container">
            <div>
                <span><i class="fas fa-coins icon-red mr-2"></i>{{ gemstone.value|intcomma }} GP</span>
            </div>

            <div>
                <span><i class="fas fa-eye icon-red mr-2"></i>{{ gemstone.clarity|capfirst }}</span>
            </div>

            <div>
                <span><i class="fas fa-palette icon-red mr-2"></i>{{ gemstone.color|capfirst }}</span>
            </div>

            <br>

            <p>
                <span><i class="fas fa-info-circle icon-red mr-1"></i></span>
                <em>{{ gemstone.description }}</em>
            </p>
        </div>
    </div>
</article>


<br>
{% if user.is_authenticated %}
    <div class="d-flex">
        <button disabled
                onclick="window.location.href='#';"
                class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin">
            <i class="fas fa-trash"></i> Delete
        </button>

        <button hx-get="{% url 'treasure:gemstone_form' %}"
                hx-trigger="click"
                hx-swap="innerHTML swap:1s"
                hx-target="#gemstone-view"
                class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin">
            <i class="fas fa-edit"></i> Edit
        </button>
    </div>
{% endif %}

</div>
