
{#{% load static %}#}

<div id="gemstone-form">
    <!-- Display all form errors at the top -->
    {{ form.errors }}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="outer-content-container outer-content-small-border">
            <div class="inner-content-container gemstone-form-flexbox">

                <!-- Name Input -->
                <div class="{% if modal_view %}gemstone-form-text-container-lg-modal{% else %}gemstone-form-text-container-lg{% endif %}">
                    <span class="z mr-1"><i class="fas fa-tag icon-red j"></i>&nbsp;</span>
                    <span class="the-spanner">{{ form.name }}</span>
                </div>

                <!-- Icon Input -->
                <div class="gemstone-form-flexbox">
                    <label for="{{ form.icon.id_for_label }}" class="gemstone-file-label">
                        {{ form.icon }}

                        {% if icon_url %}
                            <img id="upload-icon" src="{{ icon_url }}" alt="Image Preview" height="32" width="32" />
                        {% else %}
                            <i class="fas fa-camera fa-2x" id="upload-icon"></i>
                        {% endif %}
                    </label>
                </div>

            </div>
        </div>

        <div class="outer-content-container outer-content-small-border mb-4">
            <div class="inner-content-container">
                <!-- Value Input -->
                <div>
                    <label for="{{ form.value.id_for_label }}">
                        <i class="fas fa-coins icon-red">&nbsp;</i>
                    </label>
                    {{ form.value }}
                </div>

                <!-- Clarity Input -->
                <div>
                    <label for="{{ form.clarity.id_for_label }}" class="mb-1">
                        <i class="fas fa-eye icon-red">&nbsp;</i>
                    </label>
                    {{ form.clarity }}
                </div>

                <!-- Color Input -->
                <div class="{% if modal_view %}gemstone-form-text-container-modal{% else %}gemstone-form-text-container{% endif %}">
                    <label for="{{ form.color.id_for_label }}" class="mb-0">
                        <i class="fas fa-palette icon-red mr-1 pt-1">&nbsp;</i>
                    </label>
                    {{ form.color }}
                </div>

                <br>

                <!-- Description Input -->
                <div class="gemstone-form-textarea-container">
                    <span><i class="fas fa-info-circle icon-red mr-1"></i>&nbsp;</span>
                    {{ form.description }}
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="d-flex">
            {% if form.name.value %}

                <!-- Delete Button -->
                <div id="deleteEvent"
                     hx-post="{% url 'treasure:gemstone_delete' gemstone_id %}"
                     hx-trigger="deleteConfirmed"
                >
                </div>
                <button type="button"
                        id="delete-button"
                        onclick="handleDelete()"
                        class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin"
                >
                    <span><i class="fas fa-trash"></i> <span id="delete-button-text">Delete</span></span>
                </button>

            {% else %}

                <!-- Clear Button -->
                <button hx-get="{% url 'treasure:gemstone_form' %}"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-target="#gemstone-form"
                        class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin"
                >
                    <span><i class="fas fa-broom"></i> Clear</span>
                </button>

            {% endif %}

            <!-- Save Button -->
            <button type="submit" class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin">
                <span><i class="fas fa-save"></i> Save</span>
            </button>
        </div>
    </form>

</div>


