
{% load static %}

<div id="gemstone-form">
    <!-- Display all form errors at the top -->
    {{ form.errors }}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="outer-content-container outer-content-small-border">
            <div class="inner-content-container x">

                <div class="y">
                    <span class="z mr-1"><i class="fas fa-tag icon-red j"></i>&nbsp;</span>

                    <span class="the-spanner">{{ form.name }}</span>

                </div>
                <div class="x">
                    <label for="{{ form.icon.id_for_label }}" class="gemstone-file-label">
                        <i class="fas fa-camera fa-2x" id="upload-icon"></i>
                        {{ form.icon }}
                    </label>
                </div>


            </div>
        </div>


{#        <div class="outer-content-container outer-content-small-border">#}
{#            <div class="inner-content-container">#}
{#                <div class="d-flex justify-content-between align-items-center">#}
{#                    <div>#}
{#                        <span><i class="fas fa-tag icon-red"></i>&nbsp;</span>#}
{#                        {{ form.name }}#}
{#                    </div>#}
{##}
{#                    <label for="{{ form.icon.id_for_label }}" class="gemstone-file-label">#}
{#                        <i class="fas fa-camera fa-2x" id="upload-icon"></i>#}
{#                        {{ form.icon }}#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="outer-content-container outer-content-small-border mb-4">
            <div class="inner-content-container">
                <div>
                    <label for="id_value">
                        <i class="fas fa-coins icon-red">&nbsp;</i>
                    </label>
                    {{ form.value }}
{#                    <span><i class="fas fa-coins icon-red"></i>&nbsp;</span>#}
{#                    {{ form.value }}#}
                </div>

                <div>
                    <label for="id_clarity">
                        <i class="fas fa-eye icon-red">&nbsp;</i>
                    </label>
                    {{ form.clarity }}
{#                    <span><i class="fas fa-eye icon-red"></i>&nbsp;</span>#}
{#                    {{ form.clarity }}#}
                </div>

                <div class="gemstone-form-text-container">
                    <label for="id_color">
                        <i class="fas fa-palette icon-red mr-1">&nbsp;</i>
                    </label>
                    {{ form.color }}
{#                    <span class="">{{ form.color }}</span>#}
{#                    <span><i class="fas fa-palette icon-red"></i>&nbsp;</span>#}
                </div>

                <br>

                <div class="gemstone-form-textarea-container">
                    <span><i class="fas fa-info-circle icon-red mr-1"></i>&nbsp;</span>
                    {{ form.description }}
                </div>
            </div>
        </div>

        <div class="d-flex">
            <button hx-get="{% url 'treasure:gemstone_form' %}"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-target="#gemstone-form"
                    class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin"
            >
                <span><i class="fas fa-broom"></i> Clear</span>
            </button>
            <button type="submit" class="my-btn my-btn-primary my-btn-large mb-3 flex-fill my-btn-add-margin">
                <span><i class="fas fa-save"></i> Save</span>
            </button>
        </div>
    </form>

    {% block extra_js %}
        <script src="{% static 'js/image-preview.js' %}"></script>
    {% endblock %}

</div>


