
{% load  humanize %}
{% load static %}

{% if gemstones %}
    <table id="gemstoneTable">
       <thead>
            <tr>
                <th>Icon</th>
                <th class="gemstone-th" role="button" onclick="sortTable('name', 'string')">Name</th>
                <th class="gemstone-th" role="button" onclick="sortTable('value', 'number')">Value</th>
                <th class="gemstone-th" role="button" onclick="sortTable('clarity', 'string')">Clarity</th>
                <th class="gemstone-th" role="button" onclick="sortTable('color', 'string')">Color</th>
            </tr>
       </thead>
       <tbody>
           {% for gemstone in gemstones %}
               <tr class="gemstone-tr" onclick="window.location='{% url 'treasure:gemstone_view' gemstone.id %}';">
                   <td><img src="{{ gemstone.icon.image.url }}" alt="{{ gemstone.name }}" width="32" height="32"></td>
                   <td>{{ gemstone.name }}</td>
                   <td>{{ gemstone.value|intcomma }} GP</td>
                   <td>{{ gemstone.clarity|capfirst }}</td>
                   <td>{{ gemstone.color }}</td>
               </tr>
           {% endfor %}
       </tbody>
    </table>

    <script src="{% static 'js/sort-gemstone-table.js' %}"></script>

{% endif %}

