
{% load static %}
{% load humanize %}


<td class="col1 gemstone-counter-td">
    <img src="{% static img_src %}" alt="{{ gem_value }} GP Gemstone" height="32" width="32">
</td>

<td class="col2 gemstone-counter-td">
    <span>{{ gem_value|intcomma }}</span>
</td>

<td class="col3 gemstone-counter-td">
    <button class="my-btn my-btn-primary" type="button" onclick="increment('gem-{{ gem_value }}-count')"><i class="fas fa-plus fa-sm"></i></button>
    <strong><span id="gem-{{ gem_value }}-count" class="gemstone-counter-count">0</span></strong>
    <button class="my-btn my-btn-primary" type="button" onclick="increment('gem-{{ gem_value }}-count')"><i class="fas fa-minus fa-sm"></i></button>
    <input type="hidden" id="gem-{{ gem_value }}-count-input" name="gem-{{ gem_value }}" value="0" />
</td>
