
{% include 'base.html' %}

{% block content %}

    <div id="search-box">
        <h1>Search Gemstones</h1>
        <input name="q"
               type="search"
               placeholder="Search for a gem..."
               hx-get="{% url 'treasure:gemstone_search_table' %}"
               hx-target="#search-results"
               hx-trigger="input delay:0.2s"
        >
        <button id="clear_button" type="button"
                hx-get="{% url 'treasure:gemstone_search' %}"
                hx-target="#search-box"
                hx-trigger="click"
        >
            Clear
        </button>

        <section id="search-results">
            <br>
            <div>
                {% include 'treasure/snippets/gemstone-table.html' %}
            </div>
        </section>
    </div>

{% endblock %}
