
{% include 'base.html' %}
{% load static %}

{% block content %}
    <form id="gemForm"
          hx-get="{% url 'treasure:gemstone_roll' %}"
          hx-trigger="submit"
          hx-swap="innerHTML"
          hx-target="#gemstone-results"
    >
        {% csrf_token %}
        <div>
            <p>
                <img src="{% static 'img/gem-10.png' %}" alt="10 gp gemstone" height="32" width="32">
                10 GP
                <button type="button" onclick="increment('gem-10-count')">+</button>
                <button type="button" onclick="decrement('gem-10-count')">-</button>
                <input type="hidden" id="gem-10-count-input" name="gem-10" value="0" />
                <span id="gem-10-count">0</span>
            </p>
        </div>

        <div>
            <p>
                <img src="{% static 'img/gem-50.png' %}" alt="50 gp gemstone" height="32" width="32">
                50 GP
                <button type="button" onclick="increment('gem-50-count')">+</button>
                <button type="button" onclick="decrement('gem-50-count')">-</button>
                <input type="hidden" id="gem-50-count-input" name="gem-50" value="0" />
                <span id="gem-50-count">0</span>
            </p>
        </div>

        <div>
            <p>
                <img src="{% static 'img/gem-100.png' %}" alt="100 gp gemstone" height="32" width="32">
                100 GP
                <button type="button" onclick="increment('gem-100-count')">+</button>
                <button type="button" onclick="decrement('gem-100-count')">-</button>
                <input type="hidden" id="gem-100-count-input" name="gem-100" value="0" />
                <span id="gem-100-count">0</span>
            </p>
        </div>

        <div>
            <p>
                <img src="{% static 'img/gem-500.png' %}" alt="500 gp gemstone" height="32" width="32">
                500 GP
                <button type="button" onclick="increment('gem-500-count')">+</button>
                <button type="button" onclick="decrement('gem-500-count')">-</button>
                <input type="hidden" id="gem-500-count-input" name="gem-500" value="0" />
                <span id="gem-500-count">0</span>
            </p>
        </div>

        <div>
            <p>
                <img src="{% static 'img/gem-1000.png' %}" alt="1000 gp gemstone" height="32" width="32">
                1,000 GP
                <button type="button" onclick="increment('gem-1000-count')">+</button>
                <button type="button" onclick="decrement('gem-1000-count')">-</button>
                <input type="hidden" id="gem-1000-count-input" name="gem-1000" value="0" />
                <span id="gem-1000-count">0</span>
            </p>
        </div>

        <div>
            <p>
                <img src="{% static 'img/gem-5000.png' %}" alt="5000 gp gemstone" height="32" width="32">
                5,000 GP
                <button type="button" onclick="increment('gem-5000-count')">+</button>
                <button type="button" onclick="decrement('gem-5000-count')">-</button>
                <input type="hidden" id="gem-5000-count-input" name="gem-5000" value="0" />
                <span id="gem-5000-count">0</span>
            </p>
        </div>
        <br>
        <button type="submit">Roll</button>
        <button type="button" onclick="clearCounts()">Clear</button>
    </form>

    <div id="gemstone-totals">
        <h2>Total Gems: <span id="gemstone-count">0</span></h2>
        <h2>Total Value: <span id="gemstone-value">0</span> gp</h2>
    </div>

    <div id="gemstone-results">

    </div>

    <script src="{% static 'js/gemstone-roller.js' %}"></script>
{% endblock %}
