
{% extends 'base.html' %}
{% load static %}

{% block title %}Gemstone Create{% endblock %}

{% block content %}

    <div class="outer-content-container mb-4">
        <div class="container inner-content-container">
            <h2>Create Gemstone</h2>

            <p>
                Creating a gemstone is more art than craft, blending raw minerals with mystical energies. Your choices in this process dictate the stone's powers and uses, from spellcasting to bartering. Choose wisely and unlock the untapped potential within each gem.
            </p>


        </div>
    </div>


    <div class="outer-content-container">
        <div class="inner-content-container">
            {% include 'treasure/snippets/gemstone-form.html' with icon_url=icon_url %}
        </div>
    </div>

    {% block extra_js %}
        <script src="{% static 'js/image-preview.js' %}"></script>
    {% endblock %}

{% endblock %}
