
{% load humanize %}

<h1>All Gemstones</h1>

    <div>
        {% for gemstone in gemstones %}
            <div>
                <!-- Display the gemstone image -->
                <img src="{{ gemstone.icon.image.url }}" alt="{{ gemstone.name }}" width="32" height="32">

                <!-- Display the gemstone name -->
                <a href="{% url 'treasure:gemstone_view' gemstone.id %}">{{ gemstone.name }}</a>
                {{ gemstone.value|intcomma }} GP
            </div>
        {% endfor %}
    </div>