
{% extends 'base.html' %}

{% block content %}

    <h1>Gemstone Index</h1>
    <a href="{% url 'treasure:index' %}">Treasure Index</a>
    <br>
    <a href="{% url 'treasure:gemstone_create' %}">Create</a>
    <br>
    <a href="{% url 'treasure:gemstone_search' %}">Search</a>
    <br>
    <a href="{% url 'treasure:gemstone_roll' %}">Roll</a>
    <br>
    <a href="{% url 'treasure:gemstone_all' %}">All</a>

    {% include 'treasure/gemstone-all.html' with gemstones=gemstones %}

{% endblock %}
