
<div class="outer-content-container mb-4">
    <div class="container inner-content-container pb-0">
        <h2>Gemstones</h2>

        <p>
            "Gemstones are small, lightweight, and easily secured compared to their
            same value in coins. See the table below for types of stones, gems, and jewels that can be found as treasure."
        </p>
        <p class="text-right pb-1 mb-0"><em>Dungeon Master's Guide, DnD 5th Edition, Chapter 7, pp. 133</em></p>
    </div>
</div>

    {% include 'treasure/snippets/gemstone-table.html' %}

