
/* === Form Styles === */
input, textarea, select {
    background-color: #50557c;  /* Background color */
    color: #ff9b71;  /* Text color */
}

label {
    color: #e84855;
}


/* === Document Wrapper Styles === */
.outer-content-container {
    border-radius: 6px;
    background-color: #50557c;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.inner-content-container {
    color: #ff9b71;
    border-radius: 6px;
    background-color: #2d3047;
    border: 2px solid #1b998b;
    padding: 15px 15px 15px 15px;
}


/* === Table Styles === */
.inner-table-container {
    border-radius: 6px;
    margin-bottom: -15px;
}

.table {
    color: #ff9b71;
}

.gemstone-table {
    border-radius: 6px;
    padding: 2px;
}

.gemstone-table-container {
    border-radius: 6px;
    background-color: #50557c;
    padding: 15px 15px 1px 15px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.gemstone-tbody {
    padding: 5px;
    margin: 10px;
}

.gemstone-thead {
    color: #e84855;
    background-color: #2d3047;
    border-top: 2px solid #2d3047;
    border-bottom: 3px solid #1b998b;
}

.gemstone-th:hover {
    color: #ffffff;
    cursor: pointer;
}

.gemstone-tr {
    cursor: pointer;
    vertical-align: middle;
    background-color: #2d3047;
    border-left: 2px solid #1b998b;
    border-right: 2px solid #1b998b;
}

.gemstone-tr:hover {
    color: #ffffff;
    background-color: #50557c;
}

td {
    border: 1px solid #1b998b;
    border-left: none;
    border-right: none;
}

.gemstone-table td, th {
    vertical-align: middle;
}


/* === Document Styles === */

/** {*/
/*    border: 1px solid red !important;*/
/*}*/

body {
    background-color: #2d3047;
    color: #ff9b71;
}

h1, h2 {
    color: #1b998b;
}

strong {
    color: #e84855;
}

em {
    color: #1b998b;
}

/* === Navbar Styles === */

.custom-navbar {
    background-color: #2d3047;
    border: 2px solid #1b998b;
    border-bottom: 3px solid #1b998b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    /*background-color: #50557c;*/
    /*border: 2px solid #50557c;*/
    /*border-bottom: 3px solid #50557c;*/
}

.custom-navbar-brand, .custom-nav-link {
    color: #1b998b;
}

.custom-active .custom-nav-link,
.custom-navbar-brand.custom-active {
    color: #40ddcb;
}

.custom-nav-link:hover,
.custom-navbar-brand:hover {
    color: #ffffff;
}

/* === Icon Colors === */

.icon-yellow {
    color: #fffd82;
}

.icon-red {
    color: #e84855;
}

/*ScrollBars*/

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark grey for the thumb (scrollbar handle) */
    /*border-radius: 6px;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Slightly lighter grey when hovering over the thumb */
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Very dark grey for the track (scrollbar background) */
    /*border-radius: 6px;*/
}