
/* === Document Styles === */
body {
    background-color: #2d3047;
    color: #ff9b71;
    margin-top: 100px;

}

h1, h2 {
    color: #1b998b;
}

strong {
    color: #e84855;
}

em {
    color: #1b998b;
}

/** {*/
/*    border: 1px solid red !important;*/
/*}*/


/* === Document Wrapper Styles === */
.outer-content-container {
    background-color: #50557c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.outer-content-small-border {
    border: 2px;
    padding: 2px;
    vertical-align: middle;
}

.inner-content-container {
    color: #ff9b71;
    background-color: #2d3047;
    border: 2px solid #1b998b;
    box-shadow: inset 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 15px 15px;
    border-radius: 6px;
    flex-grow: 1;
}

.inner-shadow {
    box-shadow: inset 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.citation {
    color: #1b998b;
    font-size: small;
    font-style: italic;
    text-align: end;
}

.row-shrink {
    margin-left: 1px;
    margin-right: 1px;
}

.vertical-spacer {
    width: 4px;
    border: 1px solid #50557c;
    background-color: #1b998b;
    margin-left: 15px;
    margin-right: 15px;
    align-self: stretch;
}


/* === Icon Styles === */
.icon-yellow {
    color: #fffd82;
}

.icon-red {
    color: #e84855;
}

.icon-green-dark {
    color: #1b998b;
}


/* === Button Styles === */
.my-btn {
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.my-btn-large {
    font-size: large;
}

.my-btn:hover {
    background-color: #1b998b;
    color: #ffffff;
}

.my-btn:active {
    color: #ffffff;
    background-color: #e84855;
}

.my-btn-primary {
    background-color: transparent;
    color: #e84855;
    border: 2px solid #1b998b;
}


/* === Modal Styles === */
.modal-dialog {
    margin-top: 100px;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #2d3047;
}

.modal-header,
.modal-footer {
  border-color: #1b998b;
}

.modal-content {
  border: 2px solid #1b998b;
}

.modal-title {
    color: #1b998b;
    font-size: xx-large;
}


/* === Form Styles === */
input, textarea, select {
    background-color: #50557c;
    color: #ff9b71;
}

label {
    color: #e84855;
}


/* === Table Styles === */
.inner-table-container {
    border-radius: 6px;
    margin-bottom: -15px;
}

.table {
    color: #ff9b71;
}

td:nth-child(n+3):nth-child(-n+4) {
    color: #40ddcb;
}

.gemstone-table {
    border-radius: 6px;
    padding: 2px;
}

.gemstone-table-container {
    background-color: #50557c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 1px 15px;
    margin: 5px;
    border-radius: 6px;
}

.gemstone-tbody {
    padding: 5px;
    margin: 10px;
}

.gemstone-thead {
    color: #e84855;
    background-color: #2d3047;
    border-top: 2px solid #2d3047;
    border-bottom: 3px solid #1b998b;
}

.gemstone-th:hover, th:hover {
    color: #ffffff;
    cursor: pointer;
}

.gemstone-th-disabled, .gemstone-th-disabled:hover{
    color: #1b998b;
    cursor: default;
}

.gemstone-tr {
    background-color: #2d3047;
    border-left: 2px solid #1b998b;
    border-right: 2px solid #1b998b;
    box-shadow: inset 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
}

.gemstone-tr:hover {
    color: #ffffff;
    background-color: #50557c;
}

td {
    border: 1px solid #1b998b;
    border-left: none;
    border-right: none;
}

.gemstone-table td, th {
    vertical-align: middle;
}


/* === Navbar Styles === */
.navbar-wrapper {
    background-color: #2d3047;
    border: 2px solid #1b998b;
    box-shadow: inset 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
    padding: 1px;
}

.custom-navbar {
    background-color: #50557c;
    border: 2px solid #50557c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 1px;
}

.custom-navbar-brand, .custom-nav-link {
    color: #1b998b;
}

.custom-active .custom-nav-link,
.custom-navbar-brand.custom-active {
    color: #40ddcb;
}

.custom-nav-link:hover,
.custom-navbar-brand:hover {
    color: #ffffff;
}


/* === Gemstone Roller Styles === */
.gemstone-counter-item {
    display: flex;
    align-items: center;
}

.gemstone-counter-icon {
    margin-right: 10px;
}

.gemstone-counter-text {
    margin-right: 10px;
}

.gemstone-counter-buttons {
    display: flex;
    align-items: center;
}

.gemstone-counter-buttons button {
    margin-right: 5px;
}

.gemstone-counter-count {
    color: #ff9b71;
}

.gemstone-counter-buttons .gemstone-counter-count {
    margin: 0 5px;
}

.gemstone-counter-buttons button:last-child {
    margin-left: 5px;

}
.x {
    margin-left: 5px;
    margin-right: 5px;
}


/* === ScrollBar Styles === */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #50557c;
    border: 1px solid #1b998b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b998b;
}

::-webkit-scrollbar-track {
    background-color: #2d3047;
    border: 1px solid #1b998b;
    padding-top: 60px;
    border-bottom: none;
    border-top: none;
}
