<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'treasure:gemstone_index' %}"><i class="fas fa-coins" style="color: #f3eb12;"></i>  Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'gemstone_create' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'treasure:gemstone_create' %}"><i class="far fa-gem fa-sm"></i>  Create New</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'gemstone_roll' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'treasure:gemstone_roll' %}"><i class="fas fa-dice-d20 fa-sm"></i>  Roll</a>
                    </li>
{#                    <li class="nav-item {% if request.resolver_match.url_name == 'my_contracts' %}active{% endif %}">#}
{#                        <a class="nav-link" href="{% url 'license:my_contracts' %}?order_by=id&direction=desc"><i class="fas fa-file-contract fa-sm"></i>  My Contracts</a>#}
{#                    </li>#}
                    <li class="nav-item {% if request.resolver_match.url_name == 'gemstone_search' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'treasure:gemstone_search' %}"><i class="fas fa-search fa-sm"></i>  Search</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Logout, {{ user.username|capfirst }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>  Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>